@import "global.css";
.wrap{
    background-color: gray;
    margin-top: -21px;
}
.menu{
    display: grid;
    grid-template-columns: auto;

}
img{
    max-width: 60%;  
    height: 60%;  
}
h1{
    color: burlywood;
}
p{
    color: white;
    font-weight: bold;
    font-size: x-large;
    padding-left: 20%;
    padding-right: 20%;
}
#text{
    color: burlywood;
    padding: 0%;
}